.full-width {
  margin-left: 0.1%;
}

.full-width2 {
  margin-left: 2.7%;
  margin-right: 0;
}


.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.center-content {
  text-align: center;
}

.form-container {
  max-width: 470px;
  border-radius: 5px;
}

.form-input {
  margin-bottom: 1px;
}

.component-class {
  width: 100%;
  height: 92%;
  background-image: url("../../../assets/images/waves.png"); 
  background-size: cover; 
}

.custom-color {
  background-color: #ffffff31; /* Cambia el color de fondo a azul (#007bff) */
  color: white; /* Cambia el color del texto a blanco */
}