
<h1 mat-dialog-title>Cambiar Contraseña del Usuario: {{data.userName}}</h1>
<div mat-dialog-content>
    <div >
        <mat-form-field>
          <mat-label>Contraseña Actual</mat-label>
          <input matInput [(ngModel)]="data.password" type="password" (keypress)="$event.keyCode == 13 ? nextInput( 'segModal' ,$event.keyCode) : null" >
        </mat-form-field>
        &nbsp;&nbsp;
        <mat-form-field>
          <mat-label>Nueva Contraseña</mat-label>
          <input matInput id="segModal" type="password" [(ngModel)]="data.newPassword" (keypress)="$event.keyCode == 13 ? changePassword(data) : null">
        </mat-form-field>
    </div>
   
    <div>
        <p><strong>Caducidad de Contraseña: {{data.passCaducidad}}</strong></p>
    </div>
</div>
<div mat-dialog-actions align="center">
  <button  (click)="onNoClick()" class="btn btn-danger" id="btn-close">Cancelar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button  (click)="changePassword(data)" 
    class="btn btn-primary" id="btn-save">Guardar</button>
</div>
