<div class="block-background">

  <div class="block-container">

    <h1 mat-dialog-title style="margin-bottom: 0%;">Cambiar Contraseña del Usuario: {{data.userName}}</h1>
    <div class="alert alert-danger " role="alert"  *ngIf="data.firstLogin != ''"
      style="width: 400px; margin-left: 50px; margin-right: 50px; margin-bottom: 0px;justify-content: center;">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-exclamation-diamond" viewBox="0 0 16 16">
          <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
          <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
      </svg>
      {{data.firstLogin}}
    </div>
    
    <div mat-dialog-content>
        <div >
            <mat-form-field>
              <mat-label>Contraseña Actual</mat-label>
              <input matInput [(ngModel)]="data.password" type="password" (keypress)="$event.keyCode == 13 ? nextInput( 'segModal' ,$event.keyCode) : null" >
            </mat-form-field>
            &nbsp;&nbsp;
            <mat-form-field>
              <mat-label>Nueva Contraseña</mat-label>
              <input matInput id="segModal" type="password" [(ngModel)]="data.newPassword" (keypress)="$event.keyCode == 13 ? changePassword(data) : null">
            </mat-form-field>
        </div>
       
        <div>
            <p><strong>Caducidad de Contraseña: {{data.passCaducidad}}</strong></p>
        </div>
        
    </div>
    <div mat-dialog-actions align="center">
      <div *ngIf="data.firstLogin == ''">
        <button  (click)="onNoClick()" class="btn btn-danger" id="btn-close">Cancelar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
      <button  (click)="changePassword(data)" 
        class="btn btn-primary" id="btn-save">Guardar</button>
    </div>
  </div>
</div>
