.example-spacer{
    flex: 1 1 auto;
  }

.custom-color {
    background-color: #00275a; /* Cambia el color de fondo a azul (#007bff) */
    color: white; /* Cambia el color del texto a blanco */
    white-space: normal !important; /* Anula la propiedad white-space */
  }

  .big-text {
    font-size:140%;
    font-weight: bold;
  }

  .centered-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
    padding: 10px;
    margin-bottom: 1px; /* Agrega un espacio mínimo */
  }

  .centered-container h2 {
    margin: 0.1px 0; /* Agrega separación mínima entre los elementos h2 */
  }


  .centered-container h4 {
    margin: 0.1px 0; /* Agrega separación mínima entre los elementos h2 */
  }

  .custom-margin{
    margin-top: 0.1px;
    margin-bottom: 0.1px;
  }
